html,body{
  width:100%;
  height: 100%;
  margin:0;
}
main{
  width:100%;
  height:80%;
  margin:0;
}
header{
  width:100%;
  height:18%;
}
.bgImage{
  width:100%;
  height:100%;
  background:url(./images/clouds.jpg) center center fixed no-repeat;
  background-size:cover;
}
.sub-header{
  display: flex;
  width:100%;
  font-size:0.7em;
  box-shadow: 3px 0px 3px #ecf0f1;
  border-bottom:3px solid #ecf0f1;
  position:relative;
  height:25%;
}
.sub-header p{
  padding:0 1em;
  border-right:2px solid #ecf0f1;
}
.sub-header a{
  text-decoration: none;
  color:#000;
}
.nav-wrapper{
  position: fixed;
  background-color:#fff;
  width:100%;
  display: flex;
}
.nav-wrapper img{
  width: 15%;
}
nav{
  width:85%;
  margin-top:auto;
}
nav ul{
  text-align: right;
}
nav ul li{
  display: inline;
  list-style-type: none;
  padding:1.5em;
  border:2px solid #ecf0f1;
  border-top:none;
  border-bottom:none;
}
nav ul li a{
  color:#000;
  text-decoration: none;
}
#text{display:none;}
