@import url('https://fonts.googleapis.com/css?family=Quicksand|Vidaloka');
@import url('https://fonts.googleapis.com/css?family=Muli|Philosopher');
 @import url('https://fonts.googleapis.com/css?family=Dosis|Lato|Open+Sans');
.bgImage-text p{
font-size:1.2em;
font-family:"Quicksand", sans-serif;
}

.bgImage-text p span{
  font-size:2.5em;
  font-family:"Vidaloka", serif;
  display: block;
}
.offer{
  font-family:"Open Sans", sans-serif;
}

.offer h2,h3{
  font-family:"Dosis", sans-serif;
}

.offer h2{
  font-size:3em;
  font-weight: normal;
}

.offer h3{
  font-size:1.3em;
}
 nav ul li:hover{
   box-shadow: inset 0 8px 6px -6px #ecf0f1;
   border-bottom:3px solid #ed3237;
 }
